.tarjeta {
    background-color: #ff950b65;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .tarjeta:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
  }
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
  }
  
  .iconoServicio {
    font-size: 1.5em;
    color: #000000; /* Verde */
  }
  
  .nombreServicio {
    margin: 0;
    color: #000000;
    font-size: 1.2em;
  }
  
  .descripcion {
    color: #000000; /* Gris */
    font-size: 0.95em;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .precio {
    color: #ff0000ec; /* Azul */
    font-weight: bold;
    font-size: 1.1em;
    margin: 0;
  }
  
  .agendar {
    background-color: #f58504cc; /* Azul */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .agendar:hover {
    background-color: #ff8b07;
  }
  
  .iconoAgendar {
    font-size: 1em;
  }