.detalleContainer {
    padding: 20px;
  }
  
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .volverBtn {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 16px;
    margin-right: 15px;
    transition: color 0.3s ease;
  }
  
  .volverBtn:hover {
    color: #0056b3;
  }
  
  .header h2 {
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  .header h2 svg {
    margin-right: 10px;
  }
  
  .detalleInfo {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
  }
  
  .detalleInfo strong {
    font-weight: bold;
    color: #333;
  }
  
  .detalleInfo p {
    margin-bottom: 10px;
  }