:root {
  --color-primary: #00bcd4; /* Azul claro */
  --color-secondary: #00acc1; /* Azul más oscuro */
  --color-success: #4CAF50; /* Verde de éxito */
  --color-warning: #ffce54; /* Amarillo de advertencia */
  --color-white: #ffffff; /* Blanco */
  --color-light: #e0f7fa; /* Fondo azul claro */
  --color-dark: #333; /* Gris oscuro */
  --color-muted: #666; /* Gris suave */
  --color-border: #b2ebf2; /* Azul suave */
  --color-tab-active: #00bcd4; /* Azul claro */
  --color-tab-border: #00acc1; /* Azul más oscuro */
  --color-primary-dark: #3a63d1; /* Azul oscuro */
  --color-danger: #ff5252; /* Rojo de peligro */
  --color-danger-dark: #e03e3e; /* Rojo oscuro para hover */
  --color-success-dark: #28a745; /* Verde oscuro para hover */
  --color-text-dark: #333; /* Gris oscuro para texto */
  --color-bg-light: #f4f7ff; /* Fondo claro */
  --color-accent: #d4a017; /* Color de acento (amarillo dorado) */
  --color-accent-light: #f0c14b; /* Color de acento claro */
  --color-muted: #7a6a56; /* Color para texto secundario */
}

/* Navegación */
.navegacion {
  background-color: var(--color-light); /* Fondo azul claro */
  border-top: 1px solid var(--color-border); /* Azul suave */
  padding: 10px 0;
}

/* Lista de navegación */
.lista {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Elemento de la lista */
.item {
  flex-grow: 1;
  text-align: center;
}

/* Enlace y estado activo */
.link,
.activo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  color: var(--color-muted); /* Gris suave */
}

/* Estilo para el enlace activo */
.activo {
  color: var(--color-primary); /* Azul claro */
  font-weight: bold;
}

/* Icono dentro de los enlaces */
.icono {
  font-size: 1.5em;
  margin-bottom: 5px;
}

/* Etiqueta debajo del icono */
.label {
  font-size: 0.8em;
}
